body{
margin:0;
font-family:Arial;
background:linear-gradient(135deg,#000428,#004e92);
color:white;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
background:rgba(255,255,255,0.1);
padding:40px;
border-radius:15px;
text-align:center;
backdrop-filter:blur(10px);
}

input{
display:block;
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
}

button{
padding:12px 25px;
border:none;
border-radius:8px;
background:#00eaff;
color:black;
font-weight:bold;
cursor:pointer;
}
